  <fieldset>
    <label class="small">Field</label>
    <input ng-model="dashboard.current.services.query.list[id].field" type="text" bs-typeahead="fields.list" placeholder="Field">
    <label class="small">Count</label>
    <input ng-model="dashboard.current.services.query.list[id].size" type="number">
    <label class="small">Union</label>
      <select class="input-small" ng-model="dashboard.current.services.query.list[id].union">
      <option ng-repeat="mode in ['none','AND','OR']">{{mode}}</option>
    </select>
  </fieldset>
