.navbar {
  padding: 5px 0;

  .btn {
    margin-top: 20px;
  }

  .brand {
    padding: 24px 20px;
  }

  .nav {
    li a {
      color: fade(@white, 60%);
      text-shadow: none;
    }

    li > a:hover,
    li > a:focus,
    li > a:active,
    li.open > a,
    li.dropdown.active > a  {
      border-color: @green !important; // override !important from bootstrap.dark
     }

    .menu-label {
      font-size: 10px;
    }
  }

  .dropdown-toggle.timepicker-dropdown {
    padding-top: 15px;
    padding-bottom: 18px;
    color: fade(@white, 80%);
  }

  .timepicker-dropdown .timepicker-label {
    color: fade(@white, 50%);
    font-size: 10px;
  }

  .nav > li > .dropdown-menu {
    background-color: lighten(@grey, 5%);

    &:after {
      border-bottom-color: lighten(@grey, 5%);
    }
  }

}

.navbar .navbar-inner {
  background: none;
}