@import "variables";

// override some variables
@green: #45B29D;
@blue: #35B1FC;
@blue-medium: #657886;
@skyblue: #EAEFEF;
@yellow: #FED532;
@purple: #B87AC6;

// ====================================================
// Light theme for Kibana.
// This styles override (only) visuals from kibana.less

@import "kibana-light/global";
@import "kibana-light/navbar";
@import "kibana-light/forms";
@import "kibana-light/panels";
@import "kibana-light/buttons";
@import "kibana-light/modals";
@import "kibana-light/editors";
@import "kibana-light/query-box";
@import "kibana-light/filter-box";