.btn {
  border-radius: 3px;
  border-bottom-width: 2px;
  border-bottom-style: solid;

  &.open {
    border-bottom: 0;
    position: relative;
    bottom: -2px;
  }
}

.btn-primary {
  background-color: @blue;
  border-bottom-color: darken(@blue, 15%);

  &:hover,
  &:focus,
  &:active,
  .active {
    background-color: lighten(@blue, 10%);
  }
}

.btn-success {
  background-color: @green;
  border-bottom-color: darken(@green, 15%);

  &:hover,
  &:focus,
  &:active,
  .active {
    background-color: lighten(@green, 10%);
  }
}